#toolbox
  fixed            left 0 top 0
  z-index          10
  width            250px
  height           100%
  background-color #eee
  border-right     1px solid #ccc
  
  section
    margin-bottom 25px
    
    h1
      margin-bottom 10px
      padding       5px
      background-image linear-gradient(top, #eee, #bbb)
      box-shadow       0 1px 5px #000
      font-size        1.2em
    
    a
      cursor pointer
      margin-left 12px
      
      &:before
        display          inline-block
        position         relative
        top              1px
        width            12px
        height           12px
        margin-right     5px
        content          ' '
      
      &.add:before
        background-image url('../images/add-icon.png')
      
      &.drop:before
        background-image url('../images/drop-icon.png')
      
      &.rename:before
        background-image url('../images/rename-icon.png')