#toolbox
  fixed            left 0 top 0
  z-index          10
  width            150px
  height           100%
  background-color #eee
  border-right     1px solid #ccc
  
  section
    margin-bottom 25px
    
    h1
      margin-bottom    10px
      padding          5px
      background-image linear-gradient(top, #eee, #bbb)
      border-top       1px solid #ccc
      border-bottom    2px solid #999
      font-size        1.2em
      
      h1:first-child
        border-top 0
    
    ul
      margin-left 10px
    
    a
      cursor              pointer
      padding-left        17px
      background-position left center
      background-repeat   no-repeat
      
      &.add
        background-image url('../images/add-icon.png')
      
      &.drop
        background-image url('../images/drop-icon.png')
      
      &.rename
        background-image url('../images/rename-icon.png')
    
    h2
      margin        5px
      padding       3px
      border-bottom 1px solid #ccc
    
    ul.properties
      li
        padding-left        17px
        background-position left center
        background-repeat   no-repeat
        
        &.ai
          background-image url('../images/ai-icon.png')
        
        &.default
          background-image url('../images/default-icon.png')
        
        &.key
          background-image url('../images/key-icon.png')
        
        &.null
          background-image url('../images/null-icon.png')
        
        &.save
          background-image url('../images/save-icon.png')
        
        &.type
          background-image url('../images/type-icon.png')
        
        > *
          width 110px
          font()
          
          &.default
            width 89px
            
          &.default_toggle
            relative left 1px top 1px
            width   13px
            margin  0
            padding 0
          
          &.save
            width       60px
            margin-left 25px