#toolbox
  fixed            left 0 top 0
  z-index          10
  width            250px
  height           100%
  background-color #eee
  border-right     1px solid #ccc
  
  section
    margin-bottom 25px
    
    h1
      margin-bottom 10px
    
    a
      cursor pointer