doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    
    title Schemer
    
    link(href='styles/app.css', rel='stylesheet')
    link(href='favicon.png', rel='icon', type='image/png')
    script(src='/scripts/lib/vendor/jquery.js')
    script(src='/scripts/lib/vendor/underscore.js')
    script(src='/scripts/lib/vendor/backbone.js')
    script(src='/scripts/lib/vendor/socket.io.js')
    script(src='/scripts/lib/vendor/async.js')
    script(src='/scripts/lib/vendor/tree/lib/tree.js')
    script(src='scripts/app.js')
  
  body