doctype 5
html
  head
    meta(charset='utf-8')
    
    title Honours
    
    link(href='styles/app.css', rel='stylesheet')
    script(src='/scripts/lib/vendor/jquery.js')
    script(src='/scripts/lib/vendor/underscore.js')
    script(src='/scripts/lib/vendor/backbone.js')
    script(src='/scripts/lib/vendor/socket.io.js')
    script(src='/scripts/lib/vendor/async.js')
    script(src='/scripts/lib/vendor/jit.js')
    script(src='/scripts/lib/vendor/test.js')
    script(src='scripts/app.js')
  
  body