#home
  form#login
    input(name='server',   placeholder='Server...',   type='text')
    input(name='user',     placeholder='User...',     type='text')
    input(name='password', placeholder='Password...', type='password')