section.field
  h1 #{name}
  ul
    li
      a.rename Rename
    li
      a.drop Drop
    li
      a.type Set Type
    li
      a.default Set Default
    li
      a.key Add key
    li
      a.ai Auto-increment